<% content_for :body_content_left do %>
  <div id="show_blog_post">
    <%= render 'post' %>
  </div>

  <% if BlogPost.comments_allowed? %>
    <aside id="comments">
      <h2><%= t('.comments.title') %></h2>

      <% if (comments = @blog_post.comments.approved).any? %>
        <%= render :partial => "comment", :collection => comments %>
      <% else %>
        <p>
          <%= t('blog.shared.comments.none') %>.
        </p>
      <% end %>

      <% flash.each do |key, value| %>
        <div id='flash' class="flash flash_<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <h2><%= t('.comments.add') %></h2>
      <% form_for [:blog_post, @blog_comment] do |f| %>
        <%= render :partial => "/shared/admin/error_messages",
                   :locals => {
                     :object => f.object,
                     :include_object_name => true
                   } %>
				<table cellpadding="5" id="comments">
        <tr>
          <td width="100"><%= f.label :name %>*</td>
          <td><%= f.text_field :name, :class => "required" %></td>
        </tr>
        <tr>
          <td><%= f.label :email %>*</td>
          <td><%= f.email_field :email, :class => "required email" %></td>
        </tr>
				<tr>
          <td>Please type <u><b>skwarcan</b></u> to confirm you are human*</td>
          <td><input type="text" name="human" class="required email" /></td>
        </tr>
        <tr>
          <td><%= f.label :message %>*</td>
          <td><%= f.text_area :message, :rows => 6, :cols => 30, :class => "required" %></td>
        </tr>
        <tr>
					<td></td>
          <td><%= f.submit t('.submit'), :class => "submit" %>
        </tr>
				</table>
      <% end %>
    </aside>
  <% end %>
<% end %>

<% content_for :body_content_right do %>
  <%= render :partial => "/blog/shared/categories" %>
  <%= render :partial => "/blog/shared/posts" %>
  <%= blog_archive_list %>
	<h3>Find Me</h3>
	<a class="facebook" href="http://facebook.com/#!/profile.php?id=301500211"></a>
	<a class="twitter" href="http://twitter.com/mskwarcan"></a>
	<a class="linkedin" href="http://www.linkedin.com/pub/michael-skwarcan/6/0/871"></a>
<% end %>

<%= render :partial => "/shared/content_page", :locals => { :remove_automatic_sections => true }  %>

<% if Refinery.version < '0.9.9' %>
  <% content_for :head do %>
    <%= stylesheet_link_tag 'refinerycms-blog' %>
    <%= javascript_include_tag('refinerycms-blog') %>
    <% if BlogPost::ShareThis.enabled? %>
      <script src="http://w.sharethis.com/button/buttons.js"></script>
      <script>stLight.options({publisher:'<%= BlogPost::ShareThis.key %>'});</script>
    <% end %>
  <% end %>
<% else %>
  <% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>

<% end %>
